* {
    padding: 0;
}
.content {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    font-size: 18px;

}
.log {
    width: 100px;
    height: 100px;
}
.menu {
    width: 500px;
}
ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
li {
    gap: 5px;
}
.lupa {
    width: 30px;
}
.login {
    width: 150px;
}